<main>
  <section class="hero-section">
    <h2>Welcome to CSE Motors!</h2>
    <div>
      <div class="specs">
        <h3>DMC Delorean</h3>
        <span>3 Cup holders</span>
        <span>Superman doors</span>
        <span>Fuzzy dice!</span>
        <button>Own Today</button>
      </div>
    </div>
  </section>
  <div class="large-screen-bottom">
  <section class="reviews-section">
    <h2>DMC Delorean Reviews</h2>
    <ul class="reviews">
      <li class="review">
        "So fast it's almost like traveling in time." (4/5)
      </li>
      <li class="review">"Coolest ride on the road" (4/5)</li>
      <li class="review">"I'm feeling McFly!" (5/5)</li>
      <li class="review">"The most futuristic ride of our day." (4/5)</li>
      <li class="review">"80's livin and I love it!" (5/5)</li>
    </ul>
  </section>
  <section class="upgrades-section">
    <h2>Delorean Upgrades</h2>
    <div class="upgrades">
      <div class="upgrade">
        <img
          src="/images/upgrades/bumper_sticker.jpg"
          alt="bumper-sticker"
          class="upgrade-img"
        />
        <span>Bumper Stickers</span>
      </div>
      <div class="upgrade">
        <img src="/images/upgrades/flame.jpg" alt="flame" class="upgrade-img" />
        <span>Flame Decals</span>
      </div>
      <div class="upgrade">
        <img
          src="/images/upgrades/flux-cap.png"
          alt="flux-cap"
          class="upgrade-img"
        />
        <span>Hub Cap</span>
      </div>
      <div class="upgrade">
        <img
          src="/images/upgrades/hub-cap.jpg"
          alt="hub-cap"
          class="upgrade-img"
        />
        <span>Hub Cap</span>
      </div>
    </div>
  </section>
</div>
</main>
