<% if (title) { %>
<h1><%= title %></h1>
<% } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="management-options">
  <h2>Inventory Management Options</h2>
  <div class="management-links">
    <p><a href="/inv/add-classification">Add New Classification</a></p>
    <p><a href="/inv/add-inventory">Add New Inventory Item</a></p>
  </div>
</div>

<div class="inventory-management">
  <h2>Manage Inventory</h2>
  <p>Select a classification to see items belonging to that classification</p>
  
  <%- classificationList %>

  <table id="inventoryDisplay"></table>

  <noscript>JavaScript must be enabled to use this page.</noscript>
</div>

<script src="../../js/inventory.js"></script>
